.wrapper {
    background-color: #0091a7;
    padding: 20px 40px;
    .wrapperContainer {
        display: flex;
        flex-direction: row;
        gap: 30vh;
        color: white;
        div {
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 24px;
            }
            a {
                display: flex;
                align-items: center;
                font-size: 16px;
                width: -webkit-fit-content;
                width: -moz-fit-content;
                width: fit-content;
                cursor: pointer;
                line-height: 40px;
                .icon {
                    margin-right: 10px;
                }
            }
            a:hover {
                color: rgb(221, 252, 255);
            }
        }
    }
    @media screen and (max-width: 992px) {
        .wrapper {
            padding: 50px 100px;
            gap: 20vh;
        }
    }
    @media screen and (max-width: 768px) {
        .wrapper {
            flex-direction: column;
            gap: 50px;
            h3 {
                font-size: 20px;
            }
            a {
                font-size: 16px;
                li {
                    font-size: 10px;
                }
            }
        }
    }
    @media screen and (max-width: 480px) {
        .wrapper {
            padding: 20px;
            h3 {
                font-size: 15px;
            }
            a {
                font-size: 12px;
                li {
                    font-size: 10px;
                }
            }
        }
    }
}
