.canvasWrapper {
    background-color: rgb(237, 237, 237);
    padding: 20px;
    .tools {
        display: flex;
        justify-content: space-between;
        .buttons {
            width: calc(100%/3);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            button {
                padding: 8px 10px;
                width: 120px;
                text-align: center;
                background-color: #0091a7;
                margin-bottom: 10px;
                border: 1px solid #fff;
                border-radius: 10px;
                color: white;
                outline: none;
            }
            button:hover {
                background-color: #007081;
                transition: all 0.3s;
                cursor: pointer;
            }
        }
        .sliderItem {
            width: calc(100%/3);
            .label {
                display: inline-block;
                margin: 20px 0 20px 0;
            }
            .colorPicker {
                width: 80%;
            }
        }
    }
}